PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=postgres
DB_PASSWORD=Sana@11092005
DB_DATABASE=brighteyes_db
DB_SYNC=true
DB_LOGGING=true

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=super_secret_jwt_key_brighteyes
JWT_EXPIRES_IN=7d
