PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=true
DB_LOGGING=true

# Redis Configuration
REDIS_HOST=
REDIS_PORT=

# JWT Configuration
JWT_SECRET=super_secret_jwt_key_brighteyes
JWT_EXPIRES_IN=7d
